@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(59, 58, 74);
  line-height: 1.5em;
}

.container {
  width: 70%;
  margin: 50px auto;
  background: rgb(161, 162, 171);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  line-height: 1.5em;
}

.card-guidance {
  width: 100%;
  height: auto;
  padding: 18px;
  background-color: rgb(87, 86, 105);
  border-radius: 10px;
  font-family: "Afacad Flux", serif;
}

.title-main {
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.text-main {
  font-size: 19px;
  display: flex;
  text-align: justify;
}

.title-rules {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.text-list {
  font-size: 19px;
  line-height: 1.6em;
}

.card-form {
  width: 100%;
  font-family: "Afacad Flux", serif;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid rgb(59, 58, 74);
}

form button {
  border: none;
  background: rgb(59, 58, 74);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: rgb(89, 81, 104);
}
.error-text {
  font-size: 12px;
  color: red;
}